<div class="jumbotron text-center container">
    <div class="login container">
    <div class="login-triangle"></div>
    <h2 class="login-header">Registration</h2>
    
    <form name="register" class="login-container" ng-submit="registrate(user)">
        <p><input type="email" placeholder="Email" name="email" ng-model="user.email"></p>
        <p><input type="text" placeholder="Nickname" name="nickname" ng-model="user.name" ng-disabled="!user.email && user.email.length < 4"></p>
        <p><input type="password" placeholder="Password" ng-model="user.password" ng-disabled="user.email.length < 4" name="password"></p>
        <p><input type="submit" value="Registrate"></p>
    </form>

    <div ng-repeat="user in users">user</div>
    </div>
</div>
<!--action="/registration" method="post"-->